[MASTER]
init-hook="from pylint.config import find_default_config_files; import os, sys; sys.path.append(os.path.dirname(next(find_default_config_files())))"
[MESSAGES CONTROL]
disable=missing-function-docstring,missing-class-docstring,missing-module-docstring,invalid-name,too-few-public-methods,ungrouped-imports
